@import url("https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Comfortaa:wght@300..700&display=swap");

:root {
  font-family: "Comfortaa", sans-serif;
  line-height: 1.5;
  font-weight: 400;
}

h1 {
  font-family: "Bebas Neue", sans-serif;
  font-size: 3.2em;
  line-height: 1.1;
}

body {
  min-width: 320px;
  min-height: 100vh;
}
